.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
}
  
.goomba {
    width: 100px;
    margin-top: 300px;
    z-index: 2;
}
  
.baloon {
    position: absolute;
    margin-top: 30px;
    left: 250px;
    z-index: 4;
}
  
.speach {
    font-size: 25px;
    top: 150px;
    margin-left: 260px;
    position: absolute;
    z-index: 5;
}
  
.bowser {
    margin-top: 150px;
    margin-left: 400px;
    position: absolute;
    width: 300px;
    z-index: 3;
}